<div class="register-container">
    <div class="register-wrapper">
      <form (ngSubmit)="onRegister()">
        <h1>Register</h1>
  
        <div class="input-box">
          <input type="text" [(ngModel)]="registerdata.name"   placeholder="Username" name = "name"required>
          <i class='bx bxs-user'></i>
        </div>
  
        <div class="input-box">
          <input type="email" [(ngModel)]="registerdata.email" placeholder="Email" name = "email" required>
          <i class='bx bxs-envelope'></i>
        </div>
  
        <div class="input-box">
          <input type="password" [(ngModel)]="registerdata.password" placeholder="Password" name = "password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
  
        <button type="submit" class="btn">Register</button>
  
        <div class="login-link">
          <p>Already have an account? <br>
          <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a></p>
        </div>
      </form>
    </div>
  </div>